body{font-family:
    margin: 0;
    font-family: "Comic Sans Ms" , sans-serif;
    color: darkblue;
}
h1{
    color: blueviolet;
}
header,footer{
    background: White url("0100.jpg") scroll no-repeat bottom;
    padding: 10px;
    background-size: cover;
    text-align: center;
}
nav{
    background-color: greenyellow;
    overflow: hidden;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: red;
    padding: 10px 25px;
    display: inline-block;
    font-size: 18px;
}
nav ul li a:hover{
    background-color: navajowhite;
}
nav ul li a.active{
    background-color: lightpink;
}

aside{
    background-color: lightgreen;
    float: left;
    width: 200px;
    height: 400px;
    text-align: center;
}
aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
aside ul li a{
    text-decoration: none;
    color: darkblue;
    padding: 25px 35px;
    display: block;
}
aside ul li a.active{
    text-decoration: none;
    color: red;
    padding: 25px 35px;
    display: block;
}
aside ul li a:hover{
    background-color:#2ab72a;
}

#photo-frame{
    margin-left: 50px;
    border: 10px solid lightgreen;
    padding: 5px;
    border-radius: 5px;
}


section{
    margin-left: 200px;
    border-left: 2px solid red;
    padding: 10px;
    background-color: lightslategrey;
    overflow: hidden;
}
details{
    background-color: lightseagreen;
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
}
article{
    background-color: lightyellow;

    padding: 10px;
    border-radius: 50px;
}
summary{
    outline: none;
}